:root {
  --primary-orange: rgba(236, 156, 0, 1);
  --secondary-orange: rgba(236, 127, 0, 1);
  --third-orange: rgba(236, 142, 0, 0.23);
  --forth-orange: rgb(255, 236, 209);
  --primary-color: rgba(243, 243, 243, 1);
  --secondary-color: rgba(217, 217, 217, 1);
  --third-color: rgba(255, 255, 255, 1);
  --primary-text: rgba(0, 0, 0, 1);
  --secondary-text: rgba(100, 100, 100, 1);
  --logo: url("../../public/FinverseLogoLight.png");
}

.dark-mode {
  --primary-orange: rgba(236, 156, 0, 1);
  --secondary-orange: rgba(236, 127, 0, 1);
  --third-orange: rgba(236, 142, 0, 0.23);
  --forth-orange: rgb(121, 94, 58);
  --primary-color: rgb(100, 100, 100);
  --secondary-color: rgb(27, 27, 27);
  --third-color: #333;
  --primary-text: rgb(255, 255, 255);
  --secondary-text: rgb(196, 196, 196);
  --logo: url("../../public/FinverseLogoDark.png");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
