.color-line {
  position: absolute;
  width: 100vw;
  height: 4px;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgb(255, 115, 0),
    rgb(255, 208, 0),
    rgb(255, 115, 0),
    rgb(255, 208, 0),
    rgb(255, 115, 0),
    rgb(255, 208, 0),
    rgb(255, 115, 0),
    rgb(255, 208, 0),
    rgb(255, 115, 0)
  );
  background-size: 200% 100%;
  animation: moveGradient 6s linear infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.general-view {
  display: flex;
}

.general-main {
  width: 37vw;
  height: 100vh;
  background-color: var(--third-color);
  padding-left: 10vw;
  padding-right: 10vw;
  overflow-y: auto;
  margin-left: 13vw;
}
/* Scrollbar personalizado para WebKit (Chrome, Safari, Edge) */
.general-main::-webkit-scrollbar {
  width: 15px; /* Ancho de la scrollbar */
  border-radius: 10px; /* Bordes redondeados */
}
.general-main::-webkit-scrollbar-track {
  background: var(--primary-color); /* Color del track (fondo del scrollbar) */
}

.general-main::-webkit-scrollbar-thumb {
  background-color: var(--primary-orange); /* Color de la barra */
  border: 2px solid var(--primary-color); /* Espacio entre la barra y el track */
}

.general-main::-webkit-scrollbar-thumb:hover {
  background-color: #ec8e00;
}

.general-main-pie {
  margin-top: 2vh;
  width: 100%;
  height: auto;
  border-top: solid 2px rgb(241, 241, 241);
  padding-top: 3vh;
  text-align: center;
}
.general-main-pie img {
  width: 5vw;
  height: auto;
}
.general-main-pie p {
  padding: 3vh 0 2vh 0;
  color: black;
  font-family: "Kode Mono";
  font-size: 0.7rem;
  font-weight: 500;
}

.links-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px; /* Espacio entre los enlaces */
  justify-content: center;
  margin-top: 20px; /* Espacio entre la imagen y los enlaces */
}
.links-container a {
  text-decoration: none;
  color: #777;
  font-family: "Kode Mono";
  font-size: 0.9rem;
  text-align: center;
  padding: 2px 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.links-container a:hover,
.links-container a:focus {
  border-color: #ec9c00;
  color: #ec9c00;
  outline: none;
}
