.color-line-etapa1 {
  position: absolute;
  width: 100vw;
  height: 4px;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgb(255, 115, 0),
    rgb(255, 208, 0),
    rgb(255, 115, 0),
    rgb(255, 208, 0),
    rgb(255, 115, 0),
    rgb(255, 208, 0),
    rgb(255, 115, 0),
    rgb(255, 208, 0),
    rgb(255, 115, 0)
  );
  background-size: 200% 100%;
  animation: moveGradient 6s linear infinite;
}
.main-capitulos {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.capitulo {
  display: flex;
}
.titulo-capitulo {
  padding: 1vh 2vw;
  font-family: "Kode Mono";
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 0.8rem;
  width: 10vw;
  height: 6vh;
  background-color: #ffde9c;
  color: rgb(39, 39, 39);
  border: solid 1px rgb(240 130 0 / 1);
  box-shadow: 2px 2px 0px 1px rgb(240 130 0 / 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

/* Estilos para cuando el capítulo está bloqueado */
.titulo-capitulo.blocked {
  color: rgb(48, 48, 48);
  background-color: #e0e0e0;
  border-color: rgb(77, 77, 77);
  box-shadow: 2px 2px 0px 1px rgb(77, 77, 77);
}

.capitulo-number {
  font-size: 0.7rem;
  font-weight: 700;
  color: #666;
  margin-bottom: 5px;
}

.separator {
  display: flex;
  flex-direction: column;
  margin: 30px 10px 30px 155px; /* Ajusta el valor según necesites */
  align-self: flex-start; /* Añadir esta línea */
}

.separator .square {
  width: 15px;
  height: 15px;
  background-color: rgb(29, 29, 29);
  margin: 10px 0; /* Margen izquierdo y derecho de 10px */
}

/* Estilos para el tooltip */
.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip-text {
  visibility: hidden;
  width: 500px; /* Ajusta el ancho según necesites */
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 120%; /* Posición arriba del texto */
  left: 50%;
  transform: translateX(-40%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.8rem;
  white-space: pre-line; /* Respeta saltos de línea */
}

/* Triángulo indicador (opcional) */
.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* Justo debajo del tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text {
  width: 500px;
  padding: 15px;
  visibility: visible;
  opacity: 1;
}
