.retroalimentacion-view {
  width: 100vw;
  height: 100vh;
  background-color: var(--third-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--primary-text);
  font-family: "Poppins";
}

.retroalimentacion-view h2 {
  font-family: "Kode Mono";
  margin-bottom: 10px;
}

.cap-loading-desafio-progress-bar {
  width: 50vw;
  background-color: #e0e0e0;
  overflow: hidden;
  margin: 0 50px 50px 50px;
}

.cap-loading-desafio-progress-fill {
  height: 10px;
  background-color: #ec9c00;
  width: 0%;
  transition: width 0.1s ease;
}

.cap-pieview {
  width: 100%;
  height: 15vh;
  margin-top: 2vh;
  border-top: solid 2px var(--primary-color);
  padding-top: 3vh;
  text-align: center;
}

.cap-pieview .btn-entendido {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
  font-family: "Kode Mono";
  font-weight: 600;
  letter-spacing: 0.5px;
  width: auto;
  height: auto;
  background-color: var(--primary-orange);
  color: white;
  border: solid 1px var(--secondary-orange);
  box-shadow: 2px 2px 0px 1px var(--secondary-orange);
  transition: background-color 0.1s, border-radius 0.3s;
}

.cap-pieview .btn-entendido:hover {
  cursor: pointer;
  background-color: var(--secondary-orange);
  border: solid 1px rgb(146, 73, 0);
  box-shadow: 2px 2px 0px 1px rgb(153, 77, 0);
}

.cap-completado {
  color: #ec9c00;
  font-family: "Kode Mono";
  font-size: 2rem;
  margin-bottom: 20px;
}

.retro-box {
  width: 80%;
  display: flex;
  gap: 2%;
  justify-content: center;
  margin-bottom: 30px;
}

.cuadro-desiciones {
  width: 65%;
  box-sizing: border-box;
  background-color: var(--third-orange);
  border: 1px solid #ec9c00;
  box-shadow: 2px 2px 0px 1px var(--primary-orange);
  padding: 20px 80px;
}
.historial-decisiones h3 {
  font-family: "Kode Mono";
  margin-bottom: 20px;
}
.historial-decisiones ul li {
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 10px;
}

.cuadro-recompensas {
  width: 25%;
  background-color: var(--third-orange);
  box-sizing: border-box;
  border: 1px solid #ec9c00;
  box-shadow: 2px 2px 0px 1px var(--primary-orange);
  padding: 20px;
}
.cuadro-recompensas h3 {
  font-family: "Kode Mono";
  margin-bottom: 20px;
}
.recompensas-aclaracion {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fa0000;
}
.recomp-exp-text {
  color: black;
  font-weight: 700;
  font-family: 'Kode Mono';
}

.feedback-ai {
  width: 74%;
  height: auto;
  background-color: var(--third-orange);
  box-sizing: border-box;
  border: 1px solid #ec9c00;
  box-shadow: 2px 2px 0px 1px var(--primary-orange);
  padding: 20px;
}
.feedback-ai h3 {
  font-family: "Kode Mono";
  margin-bottom: 10px;
}
