.chat-bg {
  width: 30vw;
  height: 100vh;
  position: fixed; /* Fija el Chat */
  top: 0;
  right: 0;
  background-color: var(--forth-orange);
}

.cs-message-list {
  background-color: var(--third-color) !important;
}

.cs-message-input .message-input {
  background-color: var(--third-color) !important;
}

.cs-message--incoming .cs-message__content {
  font-family: "Kode Mono" !important;
  font-weight: 400 !important;
  font-size: 0.8rem !important;
  background-color: var(--primary-orange) !important;
  color: var(--third-color) !important;
}

.cs-message--outgoing .cs-message__content {
  font-family: "Kode Mono" !important;
  font-weight: 400 !important;
  font-size: 0.8rem !important;
  background-color: var(--forth-orange) !important;
  color: var(--third-color) !important;
}

.cs-message-input__tools .cs-button--attachment{
  display: none !important;
}

.cs-message-input__content-editor-wrapper {
  margin-left: 10px !important;
}

.cs-chat-container .cs-message-input {
  background-color: var(--third-color) !important;
  border-top: var(--primary-color) 1px solid !important;
}

.cs-main-container {
  background-color: var(--primary-orange) !important;
  border: var(--secondary-color) 1px solid !important;
}

.cs-message-input__content-editor-wrapper {
  background-color: var(--forth-orange) !important;
}
.cs-message-input__content-editor {
  background-color: var(--forth-orange) !important;
  font-family: "Kode Mono" !important;
  font-weight: 600 !important;
  font-size: 0.8rem !important;
  color: rgb(0, 0, 0) !important;
}

.ps__thumb-y {
  background-color: var(--primary-orange) !important;
}