.navbar-bg {
  width: 13vw;
  height: 100vh;
  background-color: var(--third-color);
  position: fixed; /* Fija el Navbar */
  top: 0;
  left: 0;
  border-right: var(--primary-color) 2px solid;
  display: flex;
  flex-direction: column;
}

.navbar-logo {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar-logo-finverse {
  width: 80%;
  height: 35%;
  background-image: var(--logo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-opciones {
  font-family: "Kode Mono";
  font-weight: 700;
  letter-spacing: 0.5px;
  width: 100%;
  /* Ajustamos la altura para que el contenedor no se expanda demasiado */
  /* O bien podemos dejarlo sin altura fija y que ocupe lo necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.link-icon {
  width: 1vw;
  height: auto;
  margin-right: 0.5vw;
}

.navbar-opciones li {
  width: 10vw;
  padding: 1vh 0;
  margin: 1vh 0;
  font-size: 0.9rem;
  list-style: none;
  border: solid 1px var(--secondary-color);
  box-shadow: 2px 2px 0px 1px var(--secondary-color);
  transition: background-color 0.2s, border-color 0.2s, border-radius 0.2s;
}

.navbar-opciones a {
  text-decoration: none;
  color: var(--primary-text);
  padding-left: 1vw;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}

.navbar-opciones li:hover {
  background-color: var(--third-orange);
  border: solid 1px var(--primary-orange);
  box-shadow: 2px 2px 0px 1px var(--primary-orange);
}

.navbar-opciones a:hover {
  color: var(--secondary-text);
}

/* Ajustamos el contenedor del botón para que se empuje al fondo */
.navbar-logout {
  margin-top: auto;
  margin-bottom: 2rem; /* Opcional, para dejar un espacio desde el fondo */
  text-align: center;
}

.logout-button {
  font-family: "Kode Mono";
  background-color: #e53935;
  color: var(--primary-text);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
  font-size: 0.8rem;
  background-color: var(--third-color);
  border: solid 1px var(--secondary-color);
  box-shadow: 2px 2px 0px 1px var(--secondary-color);
}

.logout-button:hover {
  color: black;
  border: solid 1px #c62828;
  background-color: #ffd4d4;
  box-shadow: 2px 2px 0px 1px #c62828;
}

/* Estilos para el botón de dark mode en el Navbar */
.navbar-darkmode-toggle {
  text-align: center;
  margin: 1rem 0;
}

.modo-oscuro-label {
  text-align: center;
  margin-top: 3vh;
  font-family: "Kode Mono";
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--secondary-text);
}

/* Estilos para el toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-text);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: var(--third-color);
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: var(--primary-orange);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-orange);
}

.switch input:checked + .slider:before {
  transform: translateX(34px);
}

/* Opcional: si deseas un slider redondeado */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
